<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Recipe Finder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="stylesheet" href="../stylesheets/recipes.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    </head>
    <body>
        <nav>
            <div class="leftNav">
                <a href="/" class="brand">
                    <img src="../images/brand_name.png" alt="Recipes">
                </a>
                <i class="fa fa-bars" id="menuButton"></i>
                <ul id="list" class="">
                    <li><a href="/about"><i class="fa-solid fa-circle-info"></i>&nbsp;<b>About</b></a></li>
                    <li><a href="/favorites"><i class="fa-solid fa-heart"></i>&nbsp;<b>Our Favorites</b></a></li>
                    <li><a href="/contact"><i class="fa-solid fa-inbox"></i>&nbsp;<b>Contact</b></a></li>
                </ul>
            </div>
            <div class="search">
                <form action="/search" method="GET">
                    <input type="text" id="searchInput" class="input" name="query" placeholder="Search..." required>
                    <button class="btn">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </nav>
        
        

        <div class="page">
            <div class="menu">
                <ul>
                    <li><a href="/"><i class="fa-solid fa-house"></i>&nbsp;<b>Home</b></a></li>
                    <li><a href="/about"><i class="fa-solid fa-circle-info"></i>&nbsp;<b>About</b></a></li>
                    <li><a href="/favorites"><i class="fa-solid fa-heart"></i>&nbsp;<b>Our Favorites</b></a></li>
                    <li><a href="/contact"><i class="fa-solid fa-inbox"></i>&nbsp;<b>Contact</b></a></li>
                </ul>
            </div>
            <div class="main">
                <div class="content">
                    <h3 class="results">Results: <%= recipes.length %> </h3>
                    <div class="recipes">
                        <% for(let i=0; i < recipes.length; i++){ %>
                            <a href="<%= recipes[i].url %>" target="_blank" class="card-link">
                                <div class="card">
                                    <img src="<%= recipes[i].image %>" alt="<%= recipes[i].name %>">
                                    <div class="text">
                                        <h4><%= recipes[i].name %></h4>
                                        <table>
                                            <tr>
                                                <td>Calories</td>
                                                <td><%= Math.round(recipes[i].calories) %></td>
                                            </tr>
                                            <tr>
                                                <td>Protein</td>
                                                <td><%= recipes[i].protein %>g</td>
                                            </tr>
                                            <tr>
                                                <td>Carbs</td>
                                                <td><%= recipes[i].carbs %>g</td>
                                            </tr>
                                            <tr>
                                                <td>Fat</td>
                                                <td><%= recipes[i].fat %>g</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <p>Powered by Edamam API</p>
        </footer>

        <script src="../javascripts/searchBar.js" async defer></script>
    </body>
</html>